.container {
  padding: var(--padding-m);
}

.text {
  color: var(--white-color);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
  padding: var(--padding-xxl) var(--padding-xxl);
  text-align: center;
}
