.container {
  padding: var(--padding-s);
}

.text {
  color: var(--white-color);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
  padding: var(--padding-xxl) var(--padding-xxl);
  text-align: center;
}

@media (max-width: 768px) {
  .text {
    text-align: left;
  }
}
