.card {
  width: 50%;
  height: 25%;
  margin: 7.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.children {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}
