.card {
  align-items: center;
  border-radius: 0.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  margin: 7.5rem;
  width: 50%;
}
