.about_container {
  border: 1px solid pink;
}

.about_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
@media (max-width: 40em) {
  .about_content {
    grid-template-columns: 1fr;
  }
  .about_image {
    display: flex;
    justify-content: center;
  }
}

.image {
  filter: grayscale(100%);
  border-radius: 7rem;
  padding: 2rem 2rem;
}
