.container {
  position: relative;
  min-width: var(--mob-width);
  min-height: 100vh;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-width: var(--mob-width);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.intro__image {
  object-fit: "cover";
  filter: grayscale(100%);
}

.form__image {
  object-fit: "cover";
  filter: grayscale(100%);
}
