.intro_container {
  width: var(--mob-width);
}

@media (min-width: 768px) {
  .intro_container {
    width: var(--desk-width);
  }
}


.nav {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  z-index: 1;
}

.button {
  display: grid;
  align-items: center;
  justify-content: center;
}
