.form {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: var(--padding-m);
  text-align: center;
  width: 100%;
}

.button_label {
  border: 0;
  clip-path: inset(50%);
  clip: rect(0, 0, 0, 0);
  min-height: 1px;
  margin: -1px;
  overflow: hidden;
  padding-top: var(--padding-m);
  position: absolute;
  width: 1px;
}
.button_container {
  display: flex;
  justify-content: center;
  margin-top: var(--padding-m);
  width: 100%;
}

.form_button {
  margin-top: var(--padding-m);
  width: 100%;
}

.recaptcha {
  display: flex;
  justify-content: center;
  margin-top: var(--padding-m);
  width: 102%;
}
