.form {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
  width: 100%;
}

.label {
  font-size: 0.8rem;
  padding: 1rem 0 0 0.2rem;
}

.input {
  border-radius: 0.3rem;
}

.button_label {
  border: 0;
  clip-path: inset(50%);
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding-top: 1rem;
  position: absolute;
  width: 1px;
}

.form_button {
  margin-top: 1rem;
  width: 100%;
}
