.button {
  background-color: transparent;
  border: 1px solid var(--white-color);
  border-radius: var(--border-radius-s);
  color: var(--white-color);
  cursor: pointer;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-medium);
  font-family: inherit;
  line-height: var(--line-height-s);
  padding: var(--padding-s) var(--padding-m);
  z-index: 3;
}

.button:hover,
.button:focus {
  background-color: var(--white-color);
  color: var(--black-color);
}
