.button {
  background-color: transparent;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  color: #eaeaea;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  font-family: inherit;
  line-height: 1.5;
  padding: 0.8rem 1rem;
  z-index: 3;
}

.button:hover {
  background-color: #eaeaea;
  color: black;
}
