.container {
  display: grid;
  place-items: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 2rem;
  max-width: 850px;
  background-color: var(--black-color);
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 2s;
}

.show {
  opacity: 1;
  filter: blur(0);
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
