.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup_container {
  width: var(--mob-width);
}

@media (min-width: 768px) {
  .signup_container {
    width: var(--desk-width);
  }
}
