.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 5rem;
  top: 0;
  z-index: 1;
}

.ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.li {
  padding: var(--padding-m);
}

.link {
  color: var(--white-color);
  text-decoration: none;
}
