.nav {
  display: flex;
  justify-content: center;
  min-height: 5rem;
  top: 0;
  z-index: 3;
}

.ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

.li {
  padding: var(--padding-xxl);
}

.link {
  color: var(--white-color);
  text-decoration: none;
  cursor: pointer;
}
