.logo_wrapper {
  align-items: center;
  display: flex;
  padding-left: var(--padding-xxl);
}

.logo {
  color: var(--white-color);
  font-size: var(--padding-xxl);
  font-weight: var(--font-weight-bold);
}
