.tertiary_title__container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: var(--padding-m);
}

.tertiary_title {
  color: var(--white-color);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-xs);
  text-align: center;
  text-transform: uppercase;
}
