.tertiary_title__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.tertiary_title {
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--white-color);
  text-transform: uppercase;
  text-align: center;
}
