.subtitle__text {
  color: var(--white-color);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
  padding: 0 var(--padding-xxxl);
  text-align: center;
}

.subtitle__container {
  display: grid;
  justify-content: center;
  place-items: center;
}
