.subtitle__text {
  color: var(--white-color);
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0 5rem;
  text-align: center;
}

.subtitle__container {
  display: grid;
  justify-content: center;
  place-items: center;
}
