.title__container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.title__text {
  color: var(--white-color);
  font-size: var(--font-size-xxxl);
  font-weight: var(--font-weight-bold);
}
