@media (max-width: 40rem) {
  .referral_content {
    grid-template-columns: 1fr;
  }
  .referral_single {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.referral_container {
  display: grid;
  grid-gap: 10rem;
  width: var(--mob-width);
}
@media (min-width: 768px) {
  .referral_container {
    width: var(--desk-width);
  }
}

.referral_single {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-direction: column;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .referral_single:first-of-type {
    flex-direction: row-reverse;
  }

  .referral_single:nth-of-type(2) {
    flex-direction: row;
  }
}

.another_random_lady {
  border-radius: var(--border-radius-xxxl);
}
.random_lady {
  border-radius: var(--border-radius-xxxl);
}
