.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5rem;
  font-family: "Montserrat", sans-serif;
  top: 0;
  z-index: 1;
  width: var(--mob-width);
}


@media (min-width: 768px) {
  .nav {
    width: var(--desk-width);
  }
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.li {
  margin-left: 1rem;
}

.link {
  color: var(--white-color);
  text-decoration: none;
}
