.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5rem;
  font-family: "Montserrat", sans-serif;
  top: 0;
  z-index: 1;
}

@media (max-width: 40em) {
  .nav {
  }
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.li {
  margin-left: 2rem;
}

.link {
  color: var(--white-color);
  text-decoration: none;
}
