.nav {
  align-items: center;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  justify-content: space-between;
  min-height: 5rem;
  top: 0;
  z-index: 1;
}

.logo {
  align-items: center;
  display: flex;
  margin-left: var(--padding-m);
}

.ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: var(--padding-m);
}

.li {
  margin-left: var(--padding-m);
}

.link {
  color: var(--white-color);
  text-decoration: none;
  cursor: pointer;
}
